* {
	margin: 0px;
	padding: 0px;
}

*::before, *:before, 
*::after, *:after {
	box-sizing = border-box;
}



body {
	background-color: #ffffff;
	font-family: "Lucida Console", Monaco, monospace;
}

.container {
}

.header-pg4 {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: rgba(183, 200, 235, 1);
	z-index: 20;
}



.footer-pg4 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: #cccccc;
	opacity: .5;
	z-index: 5;
}	

/* Back Button */
.back-but-pg4 {
	position: absolute;
	top: -50px;
	right: 0px;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #0AA;
	font-weight: bold;
	background-color: #00aaaa;
	background-color: rgba(222, 248, 218, 1);
}

/****************************/
/****  NAVIGATION MENUS  ****/
/****************************/

.nav-button-left {
	position: absolute;
	top: 20px;
	left: 5px;
	width: 50px;	
	height: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);

}
.nav-button-right {
	position: absolute;
	top: 20px;
	right: 5px;
	width: 50px;	
	height: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}



.main-navigation-menu-content{
	position: absolute;
	visibility: hidden;
	width: 0px;
	height: 100%;
	left: 0px;
	background-color: rgba(0,0, 255, 0.7);
	z-index: 50;
	
	transition: all .1s ease-in-out;
}

.main-navigation-menu-open{
	position: absolute;
	visibility: visible;
	width: 90%;
	height: 100%;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 0px 50px 50px 0px;
	box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, .5);
	z-index: 50;

}


.main-nav-sections {
	position: absolute;
	top: 90px;
	left: 70px;
	font-size: 25px;
	font-weight: bold;
	line-height: 70px;
	width: auto;
	height: 200px;
	margin: auto;
}

.main-nav-sections ul {
	list-style-type: none;
	text-align: center;
}





/**********************/
/**** Main Content ****/	
/**********************/

.recipe-title-big-pg4 {
	position: absolute;
	top: 70px;
	left: 25px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color: rgba(183, 200, 235, 1);

}



.recipe-title-pg4 {
	position: absolute;
	top: -100px;
	left: 25px;
	font-size: 30px;
	font-weight: bold;
}

.content-pg4 {
	position: absolute;
	top: 170px;
	bottom: 0px;
	width: 100%;
	background-color: rgba(247, 242, 215, 1);
}

.recipe-section-but1-pg4 {
	position: absolute;
	top: 50px;
	width: 200px;
	height: 50px;
	margin-left: 50%;
	left: -100px;
	line-height: 50px;
	text-align: center;
	background-color: #fcccca;
	border-radius: 50px;
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.4);


}



.recipe-section-but2-pg4 {
	position: absolute;
	top: 130px;
	width: 200px;
	height: 50px;
	margin-left: 50%;
	left: -100px;
	line-height: 50px;
	text-align: center;
	background-color: #faaaaa;
	border-radius: 50px;
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.4);
}




.recipe-tab-pg4 {
	position: absolute;
	top: -50px;
	left: 0px;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: rgba(183, 200, 235, 1);
	font-weight: bold;
	background-color: rgba(247, 242, 215, 1);
}