* {
	margin: 0px;
	padding: 0px;
}

*::before, *:before, 
*::after, *:after {
	box-sizing = border-box;
}



body {
	background-color: #ffffff;
	font-family: "Lucida Console", Monaco, monospace;
}

.container {
}

.header-pg6 {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: rgba(183, 200, 235, 1);
	z-index: 5;
}



.footer-pg6 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: #cccccc;
	opacity: .5;
	z-index: 5;
}	


/* Back Button */
.back-but-pg6 {
	position: absolute;
	top: -50px;
	right: 0px;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #0AA;
	font-weight: bold;
	background-color: rgba(222, 248, 218, 1);

	border-radius: 50px 0px 0px 0px;
}


/****************************/
/****  NAVIGATION MENUS  ****/
/****************************/

.nav-button-left {
	position: absolute;
	top: 20px;
	left: 5px;
	width: 50px;	
	height: 10px;
	background-color: #ffffff;
	border-radius: 10px;
}

.nav-button-right {
	position: absolute;
	top: 20px;
	right: 5px;
	width: 50px;	
	height: 10px;
	background-color: #ffffff;
	border-radius: 10px;

}

.main-navigation-menu-content{
	position: absolute;
	visibility: hidden;
	width: 0px;
	height: 100%;
	left: 0px;
	background-color: rgba(0,0, 255, 0.7);
	z-index: 50;
	
	transition: all .1s ease-in-out;
}

.main-navigation-menu-open{
	position: absolute;
	visibility: visible;
	width: 90%;
	height: 100%;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 0px 50px 50px 0px;
	box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, .5);
	z-index: 50;

}

.main-nav-sections {
	position: absolute;
	top: 90px;
	left: 70px;
	font-size: 25px;
	font-weight: bold;
	line-height: 70px;
	width: auto;
	height: 200px;
	margin: auto;
}

.main-nav-sections ul {
	list-style-type: none;
	text-align: center;
}



/**********************/
/**** Main Content ****/	
/**********************/


.recipe-title-pg6 {
	position: absolute;
	top: 70px;
	left: 25px;
	font-size: 30px;
	font-weight: bold;
	color: rgba(183, 200, 235, 1);

}

.content-pg6 {
	position: absolute;
	top: 170px;
	bottom: 0px;
	width: 100%;
	background-color: rgba(247, 242, 215, 1);
}


.steps-label-pg6 {
	position: absolute;
	top: -40px;
	left: 0px;
	width: 100%;
	height: 40px;
	line-height: 50px;
	color: #ffffff;
	font-size: 30px;
	background-color: #faaaaa;
}

.steps-block {
	position: relative;
	top: 0px;
	margin: 0px auto 0px auto;
	width: 100%;
	height: 100%;
}

.steps-block ul {
	list-style: none;
}

.steps-block ul li {	
	margin: 10px 0px 10px 0px;
	padding: 5px;
	height: 15px;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 0px #000000;
	transition: height 0.3s, box-shadow 0.3s ease-in-out;

}
