* {
	margin: 0px;
	padding: 0px;
}



body {
	font-family: "Goudy Bookletter 1911", sans-serif;
}

.container {
	
}

.header-pg7-5 {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: rgba(218, 226, 244, 1);
	z-index: 5;

}


.footer-pg7-5 {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: rgba(218, 226, 244, 1);
	z-index: 5;
}	




/****************************/
/****  NAVIGATION MENUS  ****/
/****************************/

.product-back-button {
	position: absolute;
	top: 5px;
	left: 20px;
	width: 50px;	
	height: 30px;
	background-color: #ffffff;
	border: 5px solid rgba(204, 204, 250, 1);
	border-right: 15px solid rgba(204, 204, 250, 1);
	border-radius: 10px;
}


.nav-button-right {
	position: absolute;
	top: 20px;
	right: 5px;
	width: 50px;	
	height: 10px;
	background-color: #ffffff;
	border-radius: 10px;

}



/*********************/
/****  Modal Popup ***/
/*********************/

.addtocart-popup{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 0;
	transition: all .3s ease-in-out;
}

.addtocart-popup-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	display: block;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 100;
}

.addtocart-popup-info {
	position: absolute;
	top: 100px;
	left: -100px;
	margin-left: 50%;
	width: 200px;
	height: 200px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
	z-index: 100;
}


.addtocart-popup-exit {
	position: absolute;
	top: 200px;
	bottom: 200px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: rgba(218, 226, 244, 1);
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);

}



.exit-x {
	position: absolute;
	top: 25px;
	left: 5px;
	width: 40px;
	height: 40px;
	z-index: 10;
}

.exit-x1 {
	
    position: absolute;
    background-color: #ffffff;
    width: 40px;
    height: 5px;
    -webkit-transform: translateY(250%);
	transform: translateY(250%);
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}

.exit-x2 {
	
    position: absolute;
    background-color: #ffffff;
    width: 40px;
    height: 5px;
    -webkit-transform: translateY(250%);
	transform: translateY(250%);
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}





/* ADD TO CART POPUP BUTTONS */

.addtocart-but-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.addtocart-button1 {
	position: absolute;
	top: 50px;
	left:-80px;
	width: 160px;
	height: 50px;
	margin-left: 50%;
	text-align: center;
	line-height: 50px;
	background-color: rgba(255, 247, 180, 1);
	border: 5px solid rgba(218, 226, 244, 1);
}

.addtocart-button2 {
	position: absolute;
	top: 120px;
	left:-80px;
	width: 160px;
	height: 50px;
	margin-left: 50%;
	text-align: center;
	line-height: 50px;
	background-color: rgba(255, 247, 180, 1);
	border: 5px solid rgba(218, 226, 244, 1);
}


.main-navigation-menu-content{
	position: absolute;
	visibility: hidden;
	width: 0px;
	height: 100%;
	left: 0px;
	background-color: rgba(0,0, 255, 0.7);
	z-index: 50;
	
	transition: all .1s ease-in-out;
}

.main-navigation-menu-open{
	position: absolute;
	visibility: visible;
	width: 90%;
	height: 100%;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 0px 50px 50px 0px;
	box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, .5);
	z-index: 50;

}

.main-nav-sections {
	position: absolute;
	top: 150px;
	left: 40px;
	font-size: 25px;
	font-weight: bold;
	width: auto;
	height: 200px;
	margin: auto;
}

.main-nav-sections ul {
	list-style-type: none;
	text-align: center;
}

.add-to-cart-but-pg7-5 {
	position: absolute;
	left: 0px;
	width: 60%;
	height: 50px;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	color: #ffffff;
	background-color: rgba(183, 200, 235, 1);
	
}


.price-but-pg7-5 {
	position: absolute;
	right: 0px;
	width: 40%;
	height: 50px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 55px;
	color: #0000cc;
	background-color: rgba(218, 226, 244, 1);
	background-repeat: no-repeat;
	
}

.product-view-wrapper-pg7-5 {
	position: absolute;
	width: 250px;
	height: 50px;
	bottom: 40px;
	left: -125px;
	margin-left: 50%;
	z-index: 10;

}

.product-view-1-pg7-5 {
	position: absolute;
	left: 0px;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #ffffff;
	background-color: #33aaaa;
}


.product-view-2-pg7-5 {
	position: absolute;
	right: 0px;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #ffffff;
	background-color: #33aacc;
}




/***************************/
/****  Main Page Content ***/
/***************************/

.content-pg7-5 {
	position: absolute;
	bottom: ;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}



/* Section Product Title */
.section-item-title {
	position: relative;
	top: 80px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #ecca19;
}


/* Product - full size image */
.product-view-full-pg7-5 {
	position: relative;
	top:100px;
	margin: auto;
	width: 250px;
	height: 250px;
	background-color: #ecca19;
	border-radius: 50%;

	transition: all .3s ease-in-out;
}




.product-view-full-pg7-5:after  {
	position: relative;
	top:100px;
	margin: auto;
	width: 250px;
	height: 250px;
	background-color: #331133;
	border-radius: 50%;

}
