/*
#1 = rgba(30, 100, 170, 1)
#2 = 79CDC0
*/
a {
	color: rgba(30, 100, 170, 1);
}
a:hover {
	color: #79CDC0;
}

/* menu */
.nav>li>a:hover {
	color: #79CDC0;
}

.navbar .navbar-nav > .active > a {
	color: #79CDC0;
}

/* flexslider */
.flex-control-paging li a {
	background: rgba(30, 100, 170, 1);
}

.flex-direction-nav a:hover{
	background-color:rgba(30, 100, 170, 1);
}

.testimonial span.author a {
	color: #79CDC0;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: rgba(30, 100, 170, 1);
	box-shadow: 0 0 0 4px rgba(30, 100, 170, 1);
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: rgba(30, 100, 170, 1);
	box-shadow: 0 0 0 8px  #79CDC0;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: rgba(30, 100, 170, 1);
}

/* btn */
.btn-theme {
  background: #79CDC0;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: rgba(30, 100, 170, 1);
}
.btn-cta,.btn-cta.btn-lg {
  background: rgba(30, 100, 170, 1);
  border-color: #79CDC0;
}

.btn-cta:focus,.btn-cta:active{
   border-color: rgba(30, 100, 170, 1);
}

/* contact */
.validation {
	color:rgba(30, 100, 170, 1);
}

/* footer */
.social-circle li a {
	background:rgba(30, 100, 170, 1);
}

a.scrollup{
	background:rgba(30, 100, 170, 1);
}