.project-process-overlay {
	position: fixed; 
	display: none; 
	opacity: 0;
	width: 100%; 
	height: 100%; 
	background-color:  rgba(0, 0 ,0, 0.8); 
	z-index: 100;
	transition: opacity 1s ease-in-out;
 }		


.project-process-overlay-fade {
	display: block;
	opacity: 1;
}

.project-process-exit {
	position: absolute; 
	width: 50px; 
	height: 50px; 
	background-color: rgba(255, 255, 255, 1); 
	top: 20px; 
	right: 20px;
	border-radius: 0%;
	box-shadow: 0px 0px 0px 0px rgba(100, 100, 100, 1) inset;
	transform-origin: 50% 50%;
	transform: scale(1);
	transition: background-color 0.4s, transform 0.2s, border-radius 0.2s, box-shadow 0.2s ease-in-out;
}

.project-process-exit:hover {
	background-color: rgba(90, 160, 230, 1);
 	transform: scale(1.5);
 	border-radius: 50%;
	box-shadow: 0px 0px 0px 10px rgba(200, 200, 200, 1) inset;
}

.project-process-buttons {
}

.project-process-info-btn-selected {
    width: 250px; 
	height: 50px; 
	background-color: rgba(255, 255, 255, 1); 
	font-weight: bold; 
	font-size: 30px; 
	color: #aaaaaa;

}

.project-process-info-btn1 {
	position: absolute; 
	top: 200px; 
	left: 0px; 
	width: 230px; 
	height: 50px; 
	background-color: rgba(255, 255, 255, 0.9); 
	color: #aaaaaa;
	transition: background-color 0.3s, font-weight 0.3s, font-size 0.3s, color 0.3s, width 0.3s, height 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s, font-weight 0.3s, font-size 0.3s, color 0.3s, width 0.3s, height 0.3s ease-in-out;
}

.project-process-info-btn1:hover {
	background-color: #ffffff;
}

.project-process-info-btn2 {
	position: absolute; 
	top: 260px; 
	left: 0px; 
	width: 230px; 
	height: 50px; 
	background-color: rgba(255, 255, 255, 0.9); 
	color: #aaaaaa;
	transition: background-color 0.3s, font-weight 0.3s, font-size 0.3s, color 0.3s, width 0.3s, height 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s, font-weight 0.3s, font-size 0.3s, color 0.3s, width 0.3s, height 0.3s ease-in-out;
}

.project-process-info-btn2:hover {
	background-color: #ffffff;
}




.project-process-info-btn3 {
	position: absolute; 
	top: 320px; 
	left: 0px; 
	width: 230px; 
	height: 50px; 
	background-color: rgba(255, 255, 255, 0.9); 
	color: #aaaaaa;
	transition: background-color 0.3s, font-weight 0.3s, font-size 0.3s, color 0.3s, width 0.3s, height 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s, font-weight 0.3s, font-size 0.3s, color 0.3s, width 0.3s, height 0.3s ease-in-out;
}

.project-process-info-btn3:hover {
	background-color: #ffffff;
}


.project-process-info-btn4 {
	position: absolute; 
	top: 380px; 
	left: 0px; 
	width: 230px; 
	height: 50px; 
	background-color: rgba(255, 255, 255, 0.9); 
	color: #aaaaaa;
	transition: background-color 0.3s, font-weight 0.3s, font-size 0.3s, color 0.3s, width 0.3s, height 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s, font-weight 0.3s, font-size 0.3s, color 0.3s, width 0.3s, height 0.3s ease-in-out;
}

.project-process-info-btn4:hover {
	background-color: #ffffff;
}



.project-process-info-btn-selected {
    width: 250px; 
	height: 50px; 
	background-color: rgba(255, 255, 255, 1); 
	font-weight: bold; 
	font-size: 30px; 
	color: #aaaaaa;

}






.project-process-content {
}

.project-process-title {
	position: absolute; 
	top: 150px; 
	width: 200px; 
	height: 100px; 
	font-size: 50px; 
	color: #ffffff; 
	text-align: center; 
	margin-left: 50%; 
	left: -100px;
}

.project-process-info {
	position: absolute; 
	top: 200px; 
	left: -300px; 
	margin-left: 50%; 
	width: 700px; 
	height: 500px; 
	background-color: rgba(255, 255, 255, 0.9); 
	border: 10px solid rgba(100, 100, 100, 1); 
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}


.project-process-info p {
	margin: 0px 50px 20px 50px;

}
/* Give the Purpose block 50px of space at the top*/
.project-process-info p:nth-child(1) {
	margin-top: 50px;

}