* {
	margin: 0px;
	padding: 0px;
}

*::before, *::after {
	border-box: box-sizing;
};


.container {
	width: 100%;
	height: 100%;
}

.header {
	position: relative;
	height: 100px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	/* background-color: rgba(38, 73, 93, 1); */
	background: #569abf; /* Old browsers */
	background: -moz-linear-gradient(45deg, #569abf 0%, #24475b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#569abf), color-stop(100%,#24475b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #569abf 0%,#24475b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #569abf 0%,#24475b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #569abf 0%,#24475b 100%); /* IE10+ */
	background: linear-gradient(45deg, #569abf 0%,#24475b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#569abf', endColorstr='#24475b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.footer {
	position: relative;
	height: 50px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	/*	background-color: rgba(36, 82, 198, 1); */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.copyright-info {
	position: absolute;
	/* vertical center*/
	left: -100px;
	margin-left: 50%;

	/* horizontal center */
	top: 12px;
	color: #ffffff;
	text-align: center;
	width: 200px;
	height: 25px;
}

.logo-top {
	position: absolute;
	left: 0px;
	height: 100%;
	width: 200px;
	font-size: 50px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	line-height: 90px;
	text-shadow: 5px 5px rgba(0, 0, 0, 0.3);
	/* background-color: rgba(200,100,90, 0.5); */
}

.nav-top {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 50%;
	width: 300px;
	background-color: rgba(200,100,90, 0.5);
}

.nav-top ul li {
	margin-left: 10px;
	margin-right: 10px;
	color: #ffffff;
	float: left;
	list-style: none;
	line-height: 50px;
	text-decoration: none;
}

.nav-top ul li a {
	color: #ffffff;
}


.row1 {
	position: relative;
	height: 300px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(189, 219, 229, 1);
}

.row1-slider {
	position: absolute;
	left: 50px;
	width: 450px;
	height: 200px;
	background-color: #00cfff;
}

.row1-feed {
	position: absolute;
	right: 50px;
	width: 300px;
	height: 200px;
	background-color: #ffffff;

}



.row1-quotes {
	position: absolute;
	left: 50px;
	bottom: 0px;
	height: 50px;
	width: 450px;
	background-color: #aaaaaa;
}

.row1-hr {
	position: absolute;
	right: 50px;
	bottom: 0px;
	height: 50px;
	width: 300px;
	background-color: #aaaaaa;
}


.row2 {
	position: relative;
	height: 300px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	/* background-color: rgba(104, 175, 193, 1); */
	
	background: #e6f1f5; /* Old browsers */
	background: -moz-radial-gradient(center bottom, ellipse cover, #e6f1f5 0%, #4b9cb7 62%, #4b9cb7 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center bottom, 0px, center bottom, 100%, color-stop(0%,#e6f1f5), color-stop(62%,#4b9cb7), color-stop(100%,#4b9cb7)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center bottom, ellipse cover, #e6f1f5 0%,#4b9cb7 62%,#4b9cb7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center bottom, ellipse cover, #e6f1f5 0%,#4b9cb7 62%,#4b9cb7 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center bottom, ellipse cover, #e6f1f5 0%,#4b9cb7 62%,#4b9cb7 100%); /* IE10+ */
	background: radial-gradient(ellipse at center bottom, #e6f1f5 0%,#4b9cb7 62%,#4b9cb7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f1f5', endColorstr='#4b9cb7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3) inset;

}

.row2-background-top {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.1);
}

.row2-background-bottom {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.1);
}

.row2-person-box {
	position: absolute;
	left: 50px;
	bottom: 20px;
	width: 200px;
	height: 350px;
	background-color: rgba(200, 100, 50, 0.9);
	border-radius: 50px;
	box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
}


.row2-info-box {
	position: absolute;
	top: 25px ;
	right: 50px;
	width: 250px;
	height: 250px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.row2-info-box ul > li{
	position: relative;
	float: left;
	width: 125px;
	height: 125px;
	background-color: rgba(2, 100, 200, 0.9);
	box-shadow: 0px 0px 0px 5px rgba(255, 255, 0, 0.2) inset;
	list-style: none;
}


.row3 {
	position: relative;
	height: 300px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;	
	/* background-color: rgba(53, 112, 132, 1); */
	background: #1f3a4d; /* Old browsers */
	background: -moz-linear-gradient(top, #1f3a4d 0%, #3fa5bb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f3a4d), color-stop(100%,#3fa5bb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1f3a4d 0%,#3fa5bb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1f3a4d 0%,#3fa5bb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1f3a4d 0%,#3fa5bb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1f3a4d 0%,#3fa5bb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f3a4d', endColorstr='#3fa5bb',GradientType=0 ); /* IE6-9 */
}

.row3-col-1 {
	position: absolute;
	left: 0px;
	width: 300px;
	height: 100%;
	background-color: rgba(53, 112, 132, 1);
}


.row3-col-2 {
	position: absolute;

	/* vertical center */
	left: -150px;
	margin-left: 50%;
	width: 300px;
	height: 100%;
	background-color: rgba(53, 112, 132, 0.4);	
}


.row3-col-2 ul > li {
	list-style: none;	
	width: 100%;
	height: 100px;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0px 0px 0px 5px rgba(53, 112, 132, 1) inset;
}

.row3-col-2 ul li > span:nth-child(1) {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0px;
	background-color: #ffaaaa;
	box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5) inset;
}


.row3-col-2 ul li > span:nth-child(2) {
	position: absolute;
	height: 100px;
	width: 200px;
	left: 100px;
	color: #ffffff;
	line-height: 50px;
	padding-left: 20px;
	word-wrap: break-word;
	background-color: transparent;
	box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5) inset;

}

.row3-col-3 {
	position: absolute;
	right: 0px;
	width: 300px;
	height: 100%;
	/*background-color: rgba(53, 112, 132, 1);*/
}

.row3-col-3 form {
	position: absolute;
	top: 50px;
	left: -100px;
	margin-left: 50%;
	width: 200px;
	height: 100%;
	background-color: rgba(53, 112, 132, 1);
}

.row3-col-3 form lable {
	color: #ffffff;
}

