* {
}

*::before, *::after {
	border-box: box-sizing;
}


body {
	background-color: #eeeeee;
}

.container {
	position: relative;
	width: 900px;
}

.header {
	position: relative;
	height: 100px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	/* background-color: rgba(38, 73, 93, 1); */
	background: #569abf; 

}

.footer {
	position: relative;
	height: 50px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	/*	background-color: rgba(36, 82, 198, 1); */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.copyright-info {
	position: absolute;
	/* vertical center*/
	left: -100px;
	margin-left: 50%;

	/* horizontal center */
	top: 12px;
	color: #ffffff;
	text-align: center;
	width: 200px;
	height: 25px;
}

.logo-top {
	position: absolute;
	left: 20px;
	height: 100%;
	width: 200px;
	font-size: 50px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	line-height: 90px;
	text-shadow: 5px 5px rgba(0, 0, 0, 0.3);
	/* background-color: rgba(200,100,90, 0.5); */
}

.nav-top {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 50%;
	width: 300px;
	/*background-color: rgba(200,100,90, 0.5); */
}

.nav-top ul li {
	margin-left: 10px;
	margin-right: 10px;
	color: #ffffff;
	float: left;
	list-style: none;
	line-height: 50px;
	text-decoration: none;
}

.nav-top ul li a {
	color: rgba(255, 255, 255, 0.9);
	transition: color 0.3s ease-in-out;

}


.nav-top ul li a:hover {
	color: rgba(255, 255, 255, 0.5);
}



.row1 {
	position: relative;
	height: 300px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(189, 219, 229, 1);
}

.row1-slider {
	position: absolute;
	top: 25px;
	left: 30px;
	width: 450px;
	height: 200px;
	overflow: hidden;
	font-size: 30px;
	background-color: #00cfff;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 0px 0px
}


.row1-slider-leftbut {
	position: absolute;
	left: -10px;
	bottom: -20px;
	width: 40px;
	height: 40px;
	background-color: #ffff99;

}



.row1-slider-rightbut {
	position: absolute;
	right: -10px;
	bottom: -20px;
	width: 40px;
	height: 40px;
	background-color: #ffff99;

}


.row1-feed {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 300px;
	height: 150px;
	text-align: center;
	color: rgba(72, 106, 180, 1);
	border-radius: 20px;
	box-shadow: 0px 0px 10px 10px rgba(137, 190, 206, 0.6);
	background-color: #ffffff;
}

.row1-feed-content {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 30px;
}


.row1-feed-corner-topleft {
	position: absolute;
	top: -25px;
	left: -25px;
	width: 50px;
	height: 70px;
	border-top: 5px solid #ffffff;
	border-left: 5px solid #ffffff;
}

.row1-feed-corner-topright {
	position: absolute;
	top: -25px;
	right: -25px;
	width: 50px;
	height: 70px;
	border-top: 5px solid #ffffff;
	border-right: 5px solid #ffffff;
}

.row1-feed-corner-bottomleft {
	position: absolute;
	bottom: -25px;
	left: -25px;
	width: 50px;
	height: 70px;
	border-bottom: 5px solid #ffffff;
	border-left: 5px solid #ffffff;
}

.row1-feed-corner-bottomright {
	position: absolute;
	bottom: -25px;
	right: -25px;
	width: 50px;
	height: 70px;
	border-bottom: 5px solid #ffffff;
	border-right: 5px solid #ffffff;
}




.row1-feed-point {
	position: absolute;
	top: 150px;
	left: 200px;
	width: 20px;
	height: 0px;

	border-left: 20px solid transparent;
	border-top: 20px solid #ffffff;
	border-right: 20px solid transparent;

}


.row1-quotes {
	position: absolute;
	left: 30px;
	bottom: 0px;
	padding-left: 10px;
	height: 50px;
	width: 400px;
	color: #ffffff;
	font-size: 20px;
	line-height: 50px;
	background-color: #aaaaaa;

}

.row1-quotes:before {
	position: absolute;
	content: "";
	left: 400px;
	bottom: 0px;
	height: 50px;
	width: 0px;
	border-left: 50px solid #aaaaaa;
	border-bottom: 50px solid transparent;
}



.row1-hr {
	position: absolute;
	right: 30px;
	bottom: 0px;
	height: 50px;
	width: 300px;
	color: #ffffff;
	font-size: 40px;
	line-height: 30px;
	background-color: #aaaaaa;

}


.row1-hr:before {
	position: absolute;
	content: "";
	right: 300px;
	bottom: 0px;
	height: 50px;
	width: 0px;
	border-right: 50px solid #aaaaaa;
	border-top: 50px solid transparent;
}



.row2 {
	position: relative;
	height: 350px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	/* background-color: rgba(104, 175, 193, 1); */

	
	background: #e6f1f5; /* Old browsers */
	background: -moz-radial-gradient(center bottom, ellipse cover, #e6f1f5 0%, #4b9cb7 62%, #4b9cb7 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center bottom, 0px, center bottom, 100%, color-stop(0%,#e6f1f5), color-stop(62%,#4b9cb7), color-stop(100%,#4b9cb7)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center bottom, ellipse cover, #e6f1f5 0%,#4b9cb7 62%,#4b9cb7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center bottom, ellipse cover, #e6f1f5 0%,#4b9cb7 62%,#4b9cb7 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center bottom, ellipse cover, #e6f1f5 0%,#4b9cb7 62%,#4b9cb7 100%); /* IE10+ */
	background: radial-gradient(ellipse at center bottom, #e6f1f5 0%,#4b9cb7 62%,#4b9cb7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f1f5', endColorstr='#4b9cb7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3) inset;

}

.row2-background-top {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.1);
}

.row2-background-bottom {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.1);
}

.row2-person-box {
	position: absolute;
	left: 0px;
	bottom: 0px;
	border-radius: 50px;
	box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0);
}


.row2-info-box {
	position: absolute;
	top: 25px ;
	right: 70px;
	width: 400px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0);
}

.row2-info-box ul > li{
	position: relative;
	float: left;
	padding: 10px;
	width: 150px;
	height: 150px;
	list-style: none;
}

.row2-info-box ul > li:nth-child(2){
	width: 200px;
	right: -20px;
	padding-left: 20px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(2, 100, 200, 0.7);
	box-shadow: 0px 0px 20px 0px rgba(35, 75, 95, 0.9);
	border-radius: 20px;

}

.row2-info-box ul > li:nth-child(3){
	width: 200px;
	left: -20px;
	padding-left: 20px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(2, 100, 200, 0.7);
	box-shadow: 0px 0px 10px 0px rgba(35, 75, 95, 1);
	border-radius: 20px;
}


.row2-info-box ul > li > span{
	font-size: 15px;
	line-height: 30px;
}


.row3 {
	position: relative;
	height: 300px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;	
	/* background-color: rgba(53, 112, 132, 1); */
	background: #1f3a4d; /* Old browsers */
	background: -moz-linear-gradient(top, #1f3a4d 0%, #3fa5bb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f3a4d), color-stop(100%,#3fa5bb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1f3a4d 0%,#3fa5bb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1f3a4d 0%,#3fa5bb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1f3a4d 0%,#3fa5bb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1f3a4d 0%,#3fa5bb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f3a4d', endColorstr='#3fa5bb',GradientType=0 ); /* IE6-9 */
}

.row3-col-1 {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 260px;
	height: 150px;
	background-color: rgba(53, 112, 132, 1);
}


.row3-col-2 {
	position: absolute;

	/* vertical center */
	left: -150px;
	margin-left: 50%;
	width: 300px;
	height: 100%;
	background-color: rgba(53, 112, 132, 0.4);	
}


.row3-col-2 ul > li {
	list-style: none;	
	width: 100%;
	height: 100px;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0px 0px 0px 5px rgba(53, 112, 132, 0) inset;
}

.row3-col-2 ul li > span:nth-child(1) {
	position: absolute;
	padding: 10px;
	width: 100px;
	height: 100px;
	left: 0px;
}


.row3-col-2 ul li > span:nth-child(1) svg{
	position: absolute;
	top: 15px;
	width: 70px;
	height: 70px;
	margin: 0px 15px 0px 15px;
	
}

.row3-col-2 ul li > span:nth-child(2) {
	position: absolute;
	height: 100px;
	width: 200px;
	left: 100px;
	color: #ffffff;
	padding-left: 20px;
	padding-top: 15px;
	word-wrap: break-word;
	background-color: transparent;
	box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0) inset;

}

.row3-col-3 {
	position: absolute;
	right: 0px;
	width: 300px;
	height: 100%;
	/*background-color: rgba(53, 112, 132, 1);*/
}

.row3-col-3 form {
	position: absolute;
	top: 10px;
	left: -100px;
	margin-left: 50%;
	width: 200px;
	height: 100%;
	/* background-color: rgba(53, 112, 132, 1); */
	outline: 0 none;
}

.row3-col-3 form lable {
	color: #ffffff;
	outline: 0 none;
}



.row3-col-3 form input[type="text"] {
	border: 5px solid rgba(255, 255, 255, 0.4);
	margin-bottom: 5px;
	color: #ffffff;
	background: -moz-linear-gradient(top, #1f3a4d 0%, #3fa5bb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f3a4d), color-stop(100%,#3fa5bb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1f3a4d 0%,#3fa5bb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1f3a4d 0%,#3fa5bb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1f3a4d 0%,#3fa5bb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1f3a4d 0%,#3fa5bb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f3a4d', endColorstr='#3fa5bb',GradientType=0 ); /* IE6-9 */
	outline: 0 none;

}

.row3-col-3 form textarea {
	border: 5px solid rgba(255, 255, 255, 0.4);
	margin-bottom: 20px;
	color: #ffffff;
	background: -moz-linear-gradient(top, #1f3a4d 0%, #3fa5bb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f3a4d), color-stop(100%,#3fa5bb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1f3a4d 0%,#3fa5bb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1f3a4d 0%,#3fa5bb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1f3a4d 0%,#3fa5bb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1f3a4d 0%,#3fa5bb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f3a4d', endColorstr='#3fa5bb',GradientType=0 ); /* IE6-9 */
	outline: 0 none;
}


.row3-col-3 form input[value="Submit"] {
	position: relative;
	left: 5px;
	width: 90px;
	padding: 10px;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 50px;
	color: #ffffff;
	background: #74abc9; /* Old browsers */
	background: -moz-linear-gradient(top, #74abc9 0%, #2989d8 50%, #207cca 62%, #0c5d94 91%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#74abc9), color-stop(50%,#2989d8), color-stop(62%,#207cca), color-stop(91%,#0c5d94)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #74abc9 0%,#2989d8 50%,#207cca 62%,#0c5d94 91%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #74abc9 0%,#2989d8 50%,#207cca 62%,#0c5d94 91%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #74abc9 0%,#2989d8 50%,#207cca 62%,#0c5d94 91%); /* IE10+ */
	background: linear-gradient(to bottom, #74abc9 0%,#2989d8 50%,#207cca 62%,#0c5d94 91%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74abc9', endColorstr='#0c5d94',GradientType=0 ); /* IE6-9 */
	outline: 0 none;

}

.row3-col-3 form input[value="Submit"]:active {
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(99%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	outline: 0 none;

}


.row3-col-3 form input[value="Clear"] {
	position: relative;
	left: 15px;
	width: 60px;
	padding: 10px;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 50px;
	color: #ffffff;
	background: #74abc9; /* Old browsers */
	background: -moz-linear-gradient(top, #74abc9 0%, #2989d8 50%, #207cca 62%, #0c5d94 91%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#74abc9), color-stop(50%,#2989d8), color-stop(62%,#207cca), color-stop(91%,#0c5d94)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #74abc9 0%,#2989d8 50%,#207cca 62%,#0c5d94 91%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #74abc9 0%,#2989d8 50%,#207cca 62%,#0c5d94 91%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #74abc9 0%,#2989d8 50%,#207cca 62%,#0c5d94 91%); /* IE10+ */
	background: linear-gradient(to bottom, #74abc9 0%,#2989d8 50%,#207cca 62%,#0c5d94 91%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74abc9', endColorstr='#0c5d94',GradientType=0 ); /* IE6-9 */
	outline: 0 none;


}




.row3-col-3 form input[value="Clear"]:active {
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(99%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	outline: 0 none;

}