* {
	margin: 0px;
	padding: 0px;
}

*::before, *::after {
	border-box: box-sizing;
}


html { 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


body {
	background-repeat: no-repeat;
}

.container {
	width: 100%;
	height: 100%;
	bottom: 0px;
}

.container-gradient {
	position: absolute;
	right: 0px;
	width: 800px;
	height: 800px;
	opacity: 0;
	background: -moz-linear-gradient(-45deg, rgba(244,244,244,1) 0%, rgba(255,255,255,0.21) 48%, rgba(255,255,255,0) 61%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, color-stop(0%,rgba(244,244,244,1)), color-stop(48%,rgba(255,255,255,0.21)), color-stop(61%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(244,244,244,1) 0%,rgba(255,255,255,0.21) 48%,rgba(255,255,255,0) 61%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(244,244,244,1) 0%,rgba(255,255,255,0.21) 48%,rgba(255,255,255,0) 61%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(244,244,244,1) 0%,rgba(255,255,255,0.21) 48%,rgba(255,255,255,0) 61%); /* IE10+ */
	background: linear-gradient(-45deg, rgba(244,244,244,1) 0%,rgba(255,255,255,0.21) 48%,rgba(255,255,255,0) 61%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

/* header */
.header {
	position: relative;
	height: 150px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	
}

.logo-top {
	position: absolute;
	margin-left: 50%;
	bottom: 20px;
	left: -100px;
	z-index: 10;
}




/* footer*/
.footer {
	position: relative;
	bottom: 0px;
	height: 200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(161, 211, 116, 0);	
}

.footer-row-1 {
	position: absolute;
	top: 30px;
	margin-left: 50px;
	margin-right: 50px;
	width: 100%;
	height: 150px;
	background-color: rgba(161, 211, 116, 0);	
} 

.logo-bottom {
	position: absolute;
	width: 40px;
}


.copyright-info {
	position: absolute;
	left: 150px;
	top: 40px;
	text-align: center;
	font-size: 20px;
	width: 200px;
	height: 25px;
	color: #ffffff;
	font-weight: bold;
}

.footer-subscribe-form{
	position: absolute;
	top: 25px;
	right: 50px;
	height: 90px;
	text-align: center;
	margin: 0px 20px 0px 20px;
	padding: 10px 40px 10px 40px;
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 0.5);
}

.footer-subscribe-form form label {
	left: 0px;
	font-weight: bold;
	display: block;
	color: rgba(40, 126, 30, 1);
}

.footer-subscribe-form form input[type="button"] {
	padding: 5px;
	width: 90px;
	height: 40px;
	border-radius: 20px;
	color: #ffffff;
	background-color: rgba(40, 126, 30, 1);	

}



.footer-row-2 {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: rgba(40, 126, 30, 0.7);	
} 

.footer-nav {
	width: 500px;
	height: 30px ;
	margin-right: auto;
	margin-left: auto;
	color: #ffffff;
}

.footer-nav ul li {
	margin-left: 20px;
	margin-right: 20px;
	color: #ffffff;
	float: left;
	list-style: none;
	text-decoration: none;
}

.footer-nav ul li a {
	color: #ffffff;
}


/* Background */

.content {
	position: relative;
	width: 700px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;

	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
}

.content-background {
	position: absolute;
	top: -50px;
	bottom: 0px;
	width: 100%;
	height: 700px;
	background-color: rgba(221, 202, 156, 1);

}

.content-background-left-img {
	position: absolute;
	top: 150px;
	left: -145px;
	width: 200px;
	height: 400px;
	transform: rotate(-10deg);
	border-radius: 50px;	
}

.content-background-right-img {
	position: absolute;
	top: 150px;
	right: 30px;
	width: 200px;
	height: 400px;
	border-radius: 50px;	
	
}

.content-main {
	position: absolute;
	width: 600px;
	height: 600px;
	left: -300px;
	margin-left: 50%;
	background-color: #cccccc;

	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

}

.content-main-col-1 {
	position: absolute;
	left: 0px;
	width: 150px;
	height: 100%;
	background-color: rgba(228, 248, 246, 1);
}

.content-main-nav {
	position: absolute;
	top: 70px;
	right: 0px;
	width: 150px;
	text-align: center;
}


.content-main-nav ul li{
	list-style: none;
	line-height: 30px;
	border-top: 5px solid #ffffff;
	border-bottom: 5px solid #cccccc;
	border-radius: 50px 0px 0px 50px;

	transition: margin-left 0.3s ease-in-out;
}


.content-main-nav ul li:nth-child(1){
	line-height: 40px;
	height: 50px;
	list-style: none;
	font-size: 25px;
	font-weight: bold;
	margin-left: -15px;
	background-color: rgba(255, 255, 255, 1);
	color: rgba(107, 144, 201, 1);
}


.content-main-nav ul li:nth-child(2){
	list-style: none;
	background-color: rgba(206, 242, 238, 1);
	font-size: 15px;
	font-weight: bold;
	color: rgba(101, 141, 198, 1);
}


.content-main-nav ul li:nth-child(3){
	list-style: none;
	background-color: rgba(225, 242, 206, 1);
	font-size: 15px;
	font-weight: bold;
	color: rgba(147, 180, 33, 1);
}


.content-main-nav ul li:nth-child(4){
	list-style: none;
	background-color: rgba(253, 251, 210, 1);
	font-size: 15px;
	font-weight: bold;
	color: rgba(107, 144, 201, 1);
}

.content-main-nav ul li:nth-child(5){
	list-style: none;
	background-color: rgba(255, 244, 201, 1);
	font-size: 15px;
	font-weight: bold;
	color: rgba(213, 171, 54, 1);
}

.content-main-nav ul li:nth-child(1) ~ li:hover{
	color: rgba(0, 0, 0, 1);
	border-right: 10px solid rgba(0, 0, 0, 0.2);
	margin-left: 10px;
}



.content-main-img1 {
	position: absolute;
	left:10px;
	bottom: 130px;
	background-color: #ffffff;
	border: 10px solid rgba(245, 219, 170, 0.5);

}

.content-main-img2 {
	position: absolute;
	left: 15px;
	bottom: -30px;
	width: 150px;
	height: 150px;
	border-radius: 40px;
	background-color: rgba(226, 234, 54, 1);
	box-shadow:5px 5px 0px 0px rgba(100, 200, 100, 1);
	z-index: 10;
}


.content-main-col-2 {
	position: absolute;
	right: 0px;
	width: 450px;
	height: 100%;
	background-color: #ffffff;
}

.main-slider {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 200px;
	overflow: hidden;
	background-color: #aaaacc;
	border: 10px solid rgba(255, 255, 255, 0.5);
}

.main-slider img{
}

.main-message {
	position: absolute;
	/* vertical centers*/
	top: -25px;
	margin-top: 50%;
	width: 100%;
	height: 200px;
	/*background-color: #00aacc;*/
}

.main-message-photo {
	position: absolute;
	top: 30px;
	left: 30px;
	background-repeat: none;
	background-color: rgba(22, 199, 299, 1);
	box-shadow: 0px 0px 0px 10px rgba(20, 255, 20, 0.4) ;
	z-index: 5;

	transform: rotate(-20deg);

}

.main-message-content {
	position: absolute;
	top: 20px;
	right: 20px;
	padding-left: 10px; 
	width: 260px;
	height: 160px;
	background-color: rgba(220, 255, 190, 1);

}

.main-message-title1 {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 30px;
	font-size: 25px;
	color: rgba(60, 150, 40, 1);
}

.main-message-title2 {
	position: absolute;
	top: 40px;
	width: 100%;
	height: 20px;
	font-weight: bold;
	color: rgba(60, 150, 40, 1);

}


.main-message-info1 {
	position: absolute;
	top: 60px;
	width: 70%;
	height: 90px;
	color: rgba(60, 150, 40, 1);

}

.main-message-info2 {
	position: absolute;
	top: 90px;
	left: 180px;

}


.main-image {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 200px;
	
}


.main-image-img1 {
	position: absolute;
	top: 15px;
	left: 100px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 0px 10px rgba(208, 205, 254, 1);

}


.main-image-img2 {
	position: absolute;
	right: -40px;
	bottom: -20px;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 5px solid #ffffff;
	background-color: rgba(200, 255, 200, 1);
	box-shadow:5px 5px 0px 10px rgba(100, 200, 100, 1);
	z-index: 10;
}