* {
	margin: 0px;
	padding: 0px;
}

*::before, *:before, 
*::after, *::after {
	box-sizing = border-box;
}


body {
	background-color: #ffffff;
	font-family: "Lucida Console", Monaco, monospace;
}

.container {
}

.header-pg2 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: rgba(183, 200, 235, 1);
}

.footer-pg2 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: #cccccc;
	opacity: .5;
}	

.background-wallpaper-pg2 {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

.category-list-pg2 {
	width: 100%;
	height: 100%;
	position: absolute;
}

.category-list-pg2 > div {
	float: left;
	width: 50%;
	height: 50%;
	box-shadow: 0px 0px 0px 2px rgba(255 ,255, 255, 1);

	/* font settings */
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	line-height: 90px;
	color: rgba(255, 255, 255, 0.7);
    transition: color .2s cubic-bezier(0.895, 0.030, 0.685, 0.220); 
}

.category-list-pg2 > div:hover {
	color: rgba(0, 0, 0, 0.2);
}


/* Set background colors for each category square nested within the parent DIV*/
.category-list-pg2 > div:nth-child(1) {
	background-color: rgba(115,176,214, 1);
	border-radius: 0px 0px 20px 0px;
	animation: categorylistanim 1s;
	animation-fill-mode: forwards;
	animation-delay: .2s;
	-webkit-animation: categorylistanim 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: .2s;
}
.category-list-pg2 > div:nth-child(2) {
	background-color: rgba(116, 214, 204, 1);
	border-radius: 0px 0px 0px 20px;
	animation: categorylistanim 1s;
	animation-fill-mode: forwards;
	animation-delay: .4s;
	-webkit-animation: categorylistanim 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: .4s;
}

.category-list-pg2 > div:nth-child(3) {
	background-color: rgba(188, 142, 250, 1);
	border-radius: 0px 20px 0px 0px;
	animation: categorylistanim 1s;
	animation-fill-mode: forwards;
	animation-delay: .6s;
	-webkit-animation: categorylistanim 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: .6s;
}

.category-list-pg2 > div:nth-child(4) {
	background-color: rgba(163, 245, 119, 1);
	border-radius: 20px 0px 0px 0px;
	animation: categorylistanim 1s;
	animation-fill-mode: forwards;
	animation-delay: .8s;
	-webkit-animation: categorylistanim 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: .8s;
}

@-webkit-keyframes categorylistanim {
	from {box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) inset;}
	to {box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.2) inset;}
}

@keyframes categorylistanim {
    from {box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) inset;}
	to {box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.2) inset;}
}

