
header

	background-color: rgba(183, 200, 235, 1);

exit
	background-color: rgba(157, 222, 222, 1);

	tan
	
	background-color: rgba(247, 242, 215, 1);

greeen
	background-color: rgba(222, 248, 218, 1);

dark Blue
	background-color: rgba(115, 176, 214, 1);