* {
	margin: 0px;
	padding: 0px;
}

*::before, *::after {
	border-box: box-sizing;
};


.container {
	width: 100%;
	height: 100%;
}



/* header */
.header {
	position: relative;
	height: 100px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffaacc;
}

.logo-top {
	position: absolute;
	margin-left: 50%;
	left: -100px;
	height: 100%;
	width: 200px;
	background-color: rgba(200,100,90, 0.5);
}




/* footer*/
.footer {
	position: relative;
	height: 150px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffafff;
}

.footer-row-1 {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100px;
	background-color: #ccccff;	
} 

.copyright-info {
	position: absolute;
	left: 50px;
	top: 12px;
	text-align: center;
	width: 200px;
	height: 25px;
	background-color: #33aaff;
}

.footer-subscribe-form{
	position: absolute;
	right: 50px;
	text-align: center;
	width: 300px;
	height: 90px;
	background-color: #33aaff;
}

.footer-row-2 {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #ccaaaa;	
} 

.footer-nav {
	width: 500px;
	height: 30px ;
	margin-right: auto;
	margin-left: auto;
	background-color: #333aaa;
}

.footer-nav ul li {
	margin-left: 20px;
	margin-right: 20px;
	color: #ffffff;
	float: left;
	list-style: none;
}



/* Background */

.content {
	position: relative;
	width: 700px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

.content-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ccffaa;
}

.content-background-left-img {
	position: absolute;
	top: 50px;
	left: -100px;
	width: 200px;
	height: 400px;
	background-color: #00ff00;
	border-radius: 50px;	
}

.content-background-right-img {
	position: absolute;
	top: 50px;
	right: -100px;
	width: 200px;
	height: 400px;
	background-color: #00ff00;
	border-radius: 50px;	
	
}

.content-main {
	position: absolute;
	width: 600px;
	height: 600px;
	left: -300px;
	margin-left: 50%;
	background-color: #cccccc;
}

.content-main-col-1 {
	position: absolute;
	left: 0px;
	width: 150px;
	height: 100%;
	background-color: #ccddff;
}

.content-main-nav {
	position: absolute;
	top: 70px;
	right: 0px;
	width: 150px;
	height: 140px;
	background-color: #ffaaaa;
}


.content-main-nav ul li{
	list-style: none;
}

.content-main-img1 {
	position: absolute;
	bottom: 150px;
	width: 130px;
	height: 150px;
	background-color: #ffffff;
	transform: rotate(10deg);
}

.content-main-img2 {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 90px;
	background-color: #ffaaaa;
}


.content-main-col-2 {
	position: absolute;
	right: 0px;
	width: 450px;
	height: 100%;
	background-color: #ffffff;
}

.main-slider {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 200px;
	background-color: #aaaacc;
	box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.4) inset;
}


.main-message {
	position: absolute;
	/* vertical centers*/
	top: -25px;
	margin-top: 50%;
	width: 100%;
	height: 200px;
	background-color: #00aacc;
}

.main-message-photo {
	position: absolute;
	top: 30px;
	left: 20px;
	width: 140px;
	height: 190px;
	background-color: rgba(22, 199, 299, 1);
	box-shadow: 0px 0px 0px 10px rgba(20, 255, 20, 0.4) inset;
	z-index: 5;

	transform: rotate(-20deg);

}

.main-message-content {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 220px;
	height: 140px;
	background-color: rgba(220, 255, 190, 1);

}

.main-message-title1 {
	position: absolute;
	top: 20px;
	width: 100%;
	height: 30px;
	background-color: #ffaacc;
}

.main-message-title2 {
	position: absolute;
	top: 50px;
	width: 100%;
	height: 20px;
	background-color: #ffcccc;
}


.main-message-info1 {
	position: absolute;
	top: 70px;
	width: 70%;
	height: 90px;
	background-color: #ffaccc;

}

.main-message-info2 {
	position: absolute;
	top: 70px;
	left: 70%;
	width: 30%;
	height: 90px;
	background-color: #ff000c;

}




.main-message-info2 {	
}

.main-image {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 200px;
	background-color: #aa00cc;
	box-shadow: 0px 0px 0px 50px rgba(0, 0, 0, 0.2) inset;

}


