* {
	margin: 0px;
	padding: 0px;
}



body {
	font-family: "Goudy Bookletter 1911", sans-serif;
}

.container {
}

.header-pg8 {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: rgba(218, 226, 244, 1);
	z-index: 5;
}



.footer-pg8 {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: #ccc3aa;
	z-index: 5;
}	


.add-to-cart-but-pg8 {
	position: absolute;
	left: 0px;
	width: 60%;
	height: 50px;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	color: #ffffff;
	background-color: #aaaa33;
	border-radius: 0px 50px 0px 0px;
}


.price-but-pg8 {
	position: absolute;
	right: 0px;
	width: 40%;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	color: #0000cc;
	background-color: #000a33;
	background-repeat: no-repeat;
	border-radius: 50px 0px 0px 50px;
}


/*  NAVIGATION MENUS  */


.nav-button-left {
	position: absolute;
	top: 20px;
	left: 5px;
	width: 50px;	
	height: 10px;
	background-color: #ffffff;
	border-radius: 10px;
}

.nav-button-right {
	position: absolute;
	top: 20px;
	right: 5px;
	width: 50px;	
	height: 10px;
	background-color: #ffffff;
	border-radius: 10px;

}


.main-navigation-menu-content{
	position: absolute;
	visibility: hidden;
	width: 0px;
	height: 100%;
	left: 0px;
	background-color: rgba(0,0, 255, 0.7);
	z-index: 50;
	
	transition: all .1s ease-in-out;
}

.main-navigation-menu-open{
	position: absolute;
	visibility: visible;
	width: 90%;
	height: 100%;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 0px 50px 50px 0px;
	box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, .5);
	z-index: 50;

}

.main-nav-sections {
	position: absolute;
	top: 150px;
	left: 40px;
	font-size: 25px;
	font-weight: bold;
	width: auto;
	height: 200px;
	margin: auto;
}

.main-nav-sections ul {
	list-style-type: none;
	text-align: center;
}






/****  Modal Popup ***/


.checkout-popup{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 0;
	transition: all .3s ease-in-out;
}

.checkout-popup-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	display: block;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 100;
}

.checkout-popup-info {
	position: absolute;
	top: 100px;
	left: 50px;
	margin-left: 50%;
	margin: auto;
	width: 200px;
	height: 200px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
	z-index: 100;

}


.checkout-popup-exit {
	position: absolute;
	top: 200px;
	bottom: 200px;
	width: 50px;
	height: 50px;
	background-color: rgba(218, 226, 244, 1);
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);

}





/* ADD TO CART POPUP BUTTONS */

.checkout-but-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.checkout-thankyou {
	position: absolute;
	top: 30px;
	width: 100%;
	height: 60px;
	text-align: center;	
	font-size: 25px;
	line-height: 50px;
	color: rgba(100, 100, 255, 1);
	background-color: rgba(255, 247, 180, 1);
}


.checkout-button1 {
	position: absolute;
	top: 110px;
	left:-80px;
	width: 160px;
	height: 50px;
	margin-left: 50%;
	text-align: center;
	line-height: 50px;
	background-color: rgba(255, 247, 180, 1);
	border: 5px solid rgba(218, 226, 244, 1);
}










.content-pg8 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ccc3aa;
}

.order-sum-wrapper {
	position: absolute;
	top: 50px;
	width: 100%;
	height: 90%;
}

.order-sum-wrapper > div{
	display: block;
	width: 100%;
	height: 10%;
	margin-top: 0px;
	color: #ffffff;
	font-style: italic;
	line-height: 30px;
	background-color: #33ccaa;
	border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}
 
 
 .order-sum-wrapper > div:nth-child(6){
 	height: 100px;
 	}



 .order-sum-wrapper > div > div {
 	width: 33%;
 	float: left;
 	display: inline;
 	text-align: center;
 }